.content{
    background-color: #f2eedb76;
    padding: 30px 20px;
    color: #333;
    
}
.content h2{
    padding: 40px 0px 10px 60px;
}
.content .all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content .pbox{
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}
.content .pbox img{
    border: none;
    border-radius: 20px;
}
.content img{
    width: 230px;
    height: 150px;
}
.content .pbox p{
    margin: 0;
}
.content .all a{
    text-decoration: none;
    color: black;
}
.content .all a :hover{
    text-decoration: solid;
    color: black;
}
.content .all a .pbox{
    transition: all .5s;
}
.content .all a:hover .pbox {
    background-color: lightcoral;
    box-shadow: 3px 3px 5px rgb(242, 151, 151);
    transform: translate(-4px, -4px);
}